apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: account-hpa
  namespace: account
  labels:
    app: account-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: account-deployment
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

