apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: account-logs-pvc
  namespace: bank
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard

