apiVersion: v1
kind: ConfigMap
metadata:
  name: anti-fraud-config
  namespace: anti-fraud
data:
  application-k8s.yaml: |
    spring:
      application:
        name: anti-fraud-app
      profiles:
        active: k8s
    
      datasource:
        url: jdbc:postgresql://postgres-svc:5432/anti_fraud
        hikari:
          maximum-pool-size: 10
          minimum-idle: 5
          connection-timeout: 30000
    
      liquibase:
        default-schema: anti_fraud
        change-log: classpath:db/changelog/db.changelog-master.yaml
        enabled: "true"
        drop-first: "false"
    
      jpa:
        hibernate:
          ddl-auto: validate
        properties:
          hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            jdbc:
              batch_size: 20
            order_inserts: true
            order_updates: true
    
    server:
      port: 8086
      servlet:
        context-path: /api/anti-fraud
      compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
        min-response-size: 1024
    
    management:
      server:
        port: 8186
      endpoint:
        health:
          show-details: always
          probes:
            enabled: true
        shutdown:
          enabled: false
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
    
    logging:
      level:
        com.bank.antifraud: INFO
        AOP: DEBUG
        org.springframework.web: INFO
        org.hibernate.SQL: WARN
      pattern:
        console: "%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n"
